@import url(https://fonts.googleapis.com/css?family=Roboto:300);
body {
    background: #76b852;
    background: rgb(141, 194, 111);
    background: linear-gradient(90deg, rgba(141, 194, 111, 1) 0%, rgba(118, 184, 82, 1) 50%);
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
}

header {
    background-color: #ffffff;
    text-align: center;
    position: relative;
}

header img {
    width: 100%;
    height: auto;
}

h1 {
    margin: 0;
    padding: 20px;
    /* Añade margen superior para compensar la altura de la imagen */
}

.header-info i {
    float: left;
}

section {
    margin: 20px auto;
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 550px;
    padding: 10px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.territory-buttons a {
    text-decoration: none;
    width: fit-content;
    background: #0ca700;
    border-radius: 15px;
    padding: 5px;
    color: white;
}

.territory-buttons {
    margin: 15px auto;
    display: flex;
    justify-content: space-evenly;
}


/* Reglas de medios para pantallas más pequeñas */

@media screen and (max-width: 600px) {
    h1 {
        margin-top: 20px;
        /* Ajusta el margen superior para pantallas más pequeñas */
    }
}

.row {
    margin-top: 40px;
    padding: 0 10px;
}

.clickable {
    cursor: pointer;
}

.panel-heading div {
    margin-top: -18px;
    font-size: 15px;
}

.panel-heading div span {
    margin-left: 5px;
}

.panel-body {
    display: none;
}

#dev-table {
    width: 100%;
    border: 1px solid #d6e9c6;
}

#dev-table>thead>tr {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    margin: 0;
}

iframe {
    overflow: hidden;
}

iframe .card {
    display: none;
}

html.no-js {
    overflow: hidden;
}

tbody#tablaDeEmpresas {
    text-align: left;
}

tbody#tablaDeEmpresas td:has(a) {
    text-align: center;
}

div#addEmpresa,
.reportEmpresa {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 15px;
}

div#addEmpresa {
    background-color: #c2e7c2;
    /* Color de fondo pastel verde */
    border: 1px solid #8bcf8b;
    /* Borde en un tono más oscuro */
    padding: 5px;
    /* Espaciado interno */
    border-radius: 8px;
    /* Esquinas redondeadas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Sombra suave */
}

.reportEmpresa {
    background-color: #ffd3d3;
    /* Color de fondo pastel */
    border: 1px solid #ff9999;
    /* Borde en un tono más oscuro */
    padding: 5px;
    /* Espaciado interno */
    border-radius: 8px;
    /* Esquinas redondeadas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Sombra suave */
}

div#addEmpresa p,
.reportEmpresa p {
    max-width: 250px;
    text-align: left;
}

div#addEmpresa a,
.reportEmpresa a {
    font-size: 2em;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

div#addEmpresa a {
    color: #0ca700;
}

.reportEmpresa a {
    color: red;
}