@import url(https://fonts.googleapis.com/css?family=Roboto:300);
.login-page {
    width: 360px;
    padding: 8% 0 0 0;
    margin: auto;
}

@media screen and (max-width: 768px) {
    .login-page {
        padding: 0;
        margin: 50% auto;
    }
}

@media screen and (min-width: 768px) {
    .login-page {
        padding: 0;
        margin-top: 15%;
        margin-bottom: 5%;
    }
    footer {
        height: max-content;
    }
}

.title-form {
    margin-top: -50%;
    margin-bottom: 19%;
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    padding: 45px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

.form button:hover,
.form button:active,
.form button:focus {
    background: #43A047;
}

.form p i {
    color: #43A047;
}

body {
    margin: 0;
    background: #76b852;
    /* fallback for old browsers */
    background: rgb(141, 194, 111);
    background: linear-gradient(90deg, rgba(141, 194, 111, 1) 0%, rgba(118, 184, 82, 1) 50%);
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.modal {
    display: none;
    /* Por defecto, el modal no se muestra */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    /* Asegura que el modal esté sobre el backdrop */
    overflow: hidden;
}


/* Estilo para el backdrop */

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    /* Fondo oscuro */
    z-index: 0;
    /* Está detrás del modal */
}

.modal.show {
    display: block;
}

.modal-content {
    position: absolute;
    top: 41%;
    left: 35%;
    transform: translate(-50%, -50%);
}

.modal img {
    width: 147%;
    height: auto;
}